{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dimoso Hospital Management System</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'admini/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admini/vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'admini/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'admini/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
        <div class="pro-banner" id="pro-banner">
            <div class="card pro-banner-bg border-0 rounded-0">
              <div class="card-body py-3 px-4 d-flex align-items-center justify-content-between flex-wrap">
              
                <div class="d-flex">
                  <a href="{% url 'home' %}" target="_blank" class="btn btn-outline-light mr-2">Go to the System</a>
                  <a href="{% url 'user_logout' %}" target="_blank" class="btn btn-outline-light mr-2 bg-white text-dark">LogOut</a>
                
                </div>
            </div>
          </div>
        </div>
    <!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <ul class="navbar-nav navbar-nav-left">
              <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                <a href="#" class="nav-link horizontal-nav-left-menu"><i class="mdi mdi-format-list-bulleted"></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="{% url 'manage_appointment' %}" data-toggle="dropdown">
                  <i class="mdi mdi-bell mx-0" style="font-size: 20px;float: left;color: black;"></i>
                  <span class="" style="color: blue;font-weight: bold;font-size: 20px;">



  
  
{{count}}

                    


                  </span>
                </a>
                
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  {% for x in all_appointments %}
                  <p class="mb-0 font-weight-normal float-left dropdown-header">Appointments</p>
                  <a class="dropdown-item preview-item" href="{% url 'manage_appointment' %}">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                          <i class="mdi mdi-information mx-0"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal" style="color: blue;font-weight: bold;">{{x.fname}} {{x.sname}}</h6>
                        <p class="font-weight-light small-text mb-0 text-muted" style="color: red;font-weight: bold;">
                          {{x.sent_tarehe}}
                        </p>
                    </div>
                  </a>
                  
          {% endfor %}
                </div>
               
              </li>
            
              <li class="nav-item nav-search d-none d-lg-block ml-3">
              


              </li> 
            </ul>
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><h1 style="font-family: bold;">DIMOSO HOSPITAL MANAGEMENT SYSTEM</h1></a>
              
            </div>
          
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                  <span class="menu-title">Home</span>
                </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title">All Patients</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="submenu">
                      <ul>
                          <li class="nav-item"><a class="nav-link" href="{% url 'watoto_list' %}">Childrens</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'wazee_list' %}">Elders</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'kawaida_list' %}">Normal Patients</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'wajawazito_list' %}">Pregnancy Mothers</a></li>
                      </ul>
                  </div>
              </li>

   <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title">Patient Dozi</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="submenu">
                      <ul>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_watoto_dozi' %}">Childrens</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_wazee_dozi' %}">Elders</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_kawaida_dozi' %}">Normal Patients</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_wajawazito_dozi' %}">Pregnancy Mothers</a></li>
                      </ul>
                  </div>
              </li>

   <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title"> Patient Vipimo</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="submenu">
                      <ul>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_watoto_vipimo' %}">Childrens</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_wazee_vipimo' %}">Elders</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_kawaida_vipimo' %}">Normal Patients</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'list_wajawazito_vipimo' %}">Pregnancy Mothers</a></li>
                      </ul>
                  </div>
              </li>



            </ul>
        </div>
      </nav>
    </div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-6 mb-4 mb-xl-0">
              <div class="d-lg-flex align-items-center">
                <div>
                  <h3 class="text-dark font-weight-bold mb-2">Hi, welcome {{ user.first_name }}</h3>
                                 </div>
                <div class="ml-lg-5 d-lg-flex d-none">
                  



                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center justify-content-md-end">
              
              <marquee>
                <h1 style="color: blue;font-weight: bold;font-family: bold;">DIMOSO <span style="color: red;font-weight: bold;font-family: bold;">HOSPITAL </span></h1>
              </marquee>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <a href="{% url 'user_registration' %}">
                      <h4 class="card-title">Add Users</h4>
                        <img src="{% static 'hospital/assets/img/kkk.jpg' %}" style="width: 200px;height: 200px;" class="d-block w-100" alt="...">
                      <p class="mt-3 mb-4 mb-lg-0"><!--Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit.--->
                      </p>
                      </a>
                    </div>
                    <div class="col-lg-5">
                      <h4 class="card-title">Paid Patient</h4>
                      <div class="row">
                        <div class="col-sm-4">
                        
                             <a href="{% url 'uchafu' %}" class="btn btn-primary btn-md my-0 p" type="submit" style="margin-bottom: 2cm;">For Today</a>
                             <hr>

                             <a href="{% url 'all_time_payment' %}" class="btn btn-primary btn-md my-0 p" type="submit">All Time</a>



                        </div>
                        <div class="col-sm-8 grid-margin">
                             <img src="{% static 'hospital/assets/img/44.jpg' %}" style="width: 100px;height: 200px;" class="d-block w-100" alt="...">
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-lg-3">
                      <h4 class="card-title">Our Best Services</h4>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="progress progress-lg grouped mb-2">
                            <div class="progress-bar  bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="col-sm-12" style="font-weight: bold;">
                          <ul class="graphl-legend-rectangle">
                            <li><span class="bg-danger"></span>Diagnosis of diseases (85%)</li>
                            <li><span class="bg-warning"></span>Treatment (90%)</li>
                            <li><span class="bg-info"></span>Medical and Surgical (25%)</li>
                            <li><span class="bg-success"></span>Sick and the Injured. (50%)</li>
                           
                          </ul>
                        </div>
                      </div>
                      <p class="mb-0 mt-2">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
              <div class="">
                <div class="card-body pb-0">
                <img src="{% static 'hospital/assets/img/kkk.jpg' %}" style="width: 100px;height: 200px;" class="d-block w-100" alt="...">
                  <h2 style="font-weight: bold;color: red;font-family: bold;">
                    ALL AVAILABLE MEDICINES
                  </h2>
                     <a href="{% url 'available_medicines' %}" class="btn btn-primary btn-md my-0 p" type="submit">Click To View</a>

                      <a href="{% url 'add_available_medicines' %}" class="btn btn-primary btn-md my-0 p" type="submit">Add New Medicine</a>


                  
                </div>
              </div>
            </div>
          </div>



          <!--carosel--->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'hospital/assets/img/kkk.jpg' %}" style="width: 400px;height: 500px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>
Diagnosis of diseases</h5>
     <!--   <p>Some representative placeholder content for the first slide.</p>--->
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'hospital/assets/img/kk.jpg' %}" style="width: 400px;height: 500px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Medical and Surgical</h5>
      <!---  <p>Some representative placeholder content for the second slide.</p>--->
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'hospital/assets/img/k.jpg' %}" style="width: 400px;height: 500px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Medical and Surgical</h5>
       <!--- <p>Some representative placeholder content for the third slide.</p>---->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<!-----

          <div class="row">
            <div class="col-sm-8 flex-column d-flex stretch-card">
              <div class="row">
                <div class="col-lg-4 d-flex grid-margin stretch-card">
                  <div class="card bg-primary">
                    <div class="card-body text-white">
                      <h3 class="font-weight-bold mb-3">18,39 (75GB)</h3>
                      <div class="progress mb-3">
                        <div class="progress-bar  bg-warning" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="pb-0 mb-0">Bandwidth usage</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 d-flex grid-margin stretch-card">
                  <div class="card sale-diffrence-border">
                    <div class="card-body">
                      <h2 class="text-dark mb-2 font-weight-bold">$6475</h2>
                      <h4 class="card-title mb-2">Sales Difference</h4>
                      <small class="text-muted">APRIL 2019</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 d-flex grid-margin stretch-card">
                  <div class="card sale-visit-statistics-border">
                    <div class="card-body">
                      <h2 class="text-dark mb-2 font-weight-bold">$3479</h2>
                      <h4 class="card-title mb-2">Visit Statistics</h4>
                      <small class="text-muted">APRIL 2019</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 grid-margin d-flex stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-2">Sales Difference</h4>
                        <div class="dropdown">
                          <a href="#" class="text-success btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
                          <a href="#" class="text-success btn btn-link px-1 dropdown-toggle dropdown-arrow-none" data-toggle="dropdown" id="settingsDropdownsales">
                            <i class="mdi mdi-dots-horizontal"></i></a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="settingsDropdownsales">
                              <a class="dropdown-item">
                                <i class="mdi mdi-grease-pencil text-primary"></i>
                                Edit
                              </a>
                              <a class="dropdown-item">
                                <i class="mdi mdi-delete text-primary"></i>
                                Delete
                              </a>
                            </div>
                        </div>
                      </div>
                      <div>
                        <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active pl-2 pr-2" id="revenue-for-last-month-tab" data-toggle="tab" href="#revenue-for-last-month" role="tab" aria-controls="revenue-for-last-month" aria-selected="true">Revenue for last month</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="server-loading-tab" data-toggle="tab" href="#server-loading" role="tab" aria-controls="server-loading" aria-selected="false">Server loading</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="data-managed-tab" data-toggle="tab" href="#data-managed" role="tab" aria-controls="data-managed" aria-selected="false">Data managed</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="sales-by-traffic-tab" data-toggle="tab" href="#sales-by-traffic" role="tab" aria-controls="sales-by-traffic" aria-selected="false">Sales by traffic</a>
                          </li>
                        </ul>
                        <div class="tab-content tab-no-active-fill-tab-content">
                          <div class="tab-pane fade show active" id="revenue-for-last-month" role="tabpanel" aria-labelledby="revenue-for-last-month-tab">
                            <div class="d-lg-flex justify-content-between">
                              <p class="mb-4">+5.2% vs last 7 days</p>
                              <div id="revenuechart-legend" class="revenuechart-legend">f</div>
                            </div>
                            <canvas id="revenue-for-last-month-chart"></canvas>
                          </div>
                          <div class="tab-pane fade" id="server-loading" role="tabpanel" aria-labelledby="server-loading-tab">
                            <div class="d-flex justify-content-between">
                              <p class="mb-4">+5.2% vs last 7 days</p>
                              <div id="serveLoading-legend" class="revenuechart-legend">f</div>
                            </div>
                            <canvas id="serveLoading"></canvas>
                          </div>
                          <div class="tab-pane fade" id="data-managed" role="tabpanel" aria-labelledby="data-managed-tab">
                            <div class="d-flex justify-content-between">
                              <p class="mb-4">+5.2% vs last 7 days</p>
                              <div id="dataManaged-legend" class="revenuechart-legend">f</div>
                            </div>
                            <canvas id="dataManaged"></canvas>
                          </div>
                          <div class="tab-pane fade" id="sales-by-traffic" role="tabpanel" aria-labelledby="sales-by-traffic-tab">
                            <div class="d-flex justify-content-between">
                              <p class="mb-4">+5.2% vs last 7 days</p>
                              <div id="salesTrafic-legend" class="revenuechart-legend">f</div>
                            </div>
                            <canvas id="salesTrafic"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 flex-column d-flex stretch-card">
              <div class="row flex-grow">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-8">
                          <h3 class="font-weight-bold text-dark">Canada,Ontario</h3>
                          <p class="text-dark">Monday 3.00 PM</p>
                          <div class="d-lg-flex align-items-baseline mb-3">
                            <h1 class="text-dark font-weight-bold">23<sup class="font-weight-light"><small>o</small><small class="font-weight-medium">c</small></sup></h1>
                            <p class="text-muted ml-3">Partly cloudy</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="position-relative">
                            <img src="{% static 'admini/images/dashboard/live.png' %}" class="w-100" alt="">
                            <div class="live-info badge badge-success">Live</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 mt-4 mt-lg-0">
                          <div class="bg-primary text-white px-4 py-4 card">
                            <div class="row">
                              <div class="col-sm-6 pl-lg-5">
                                <h2>$1635</h2>
                                <p class="mb-0">Your Iincome</p>
                              </div>
                              <div class="col-sm-6 climate-info-border mt-lg-0 mt-2">
                                <h2>$2650</h2>
                                <p class="mb-0">Your Spending</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row pt-3 mt-md-1">
                        <div class="col">
                          <div class="d-flex purchase-detail-legend align-items-center">
                            <div id="circleProgress1" class="p-2"></div>
                            <div>
                              <p class="font-weight-medium text-dark text-small">Sessions</p>
                              <h3 class="font-weight-bold text-dark  mb-0">26.80%</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="d-flex purchase-detail-legend align-items-center">
                            <div id="circleProgress2" class="p-2"></div>
                            <div>
                              <p class="font-weight-medium text-dark text-small">Users</p>
                              <h3 class="font-weight-bold text-dark  mb-0">56.80%</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="d-flex align-items-center justify-content-between">
                            <h4 class="card-title mb-0">Visits Today</h4>
                            <div class="dropdown">
                              <a href="#" class="text-success btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
                              <a href="#" class="text-success btn btn-link px-1 dropdown-toggle dropdown-arrow-none" data-toggle="dropdown" id="profileDropdownvisittoday"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdownvisittoday">
                                <a class="dropdown-item">
                                  <i class="mdi mdi-grease-pencil text-primary"></i>
                                  Edit
                                </a>
                                <a class="dropdown-item">
                                  <i class="mdi mdi-delete text-primary"></i>
                                  Delete
                                </a>
                              </div>
                            </div>
                          </div>
                          <p class="mt-1">Calculated in last 30 days</p>
                          <div class="d-lg-flex align-items-center justify-content-between">
                            <h1 class="font-weight-bold text-dark">4332</h1>
                            <div class="mb-3">
                              <button type="button" class="btn btn-outline-light text-dark font-weight-normal">Day</button>
                              <button type="button" class="btn btn-outline-light text-dark font-weight-normal">Month</button>
                            </div>
                          </div>
                          <canvas id="visitorsToday"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-success font-weight-bold">18390</h2>
                    <i class="mdi mdi-account-outline mdi-18px text-dark"></i>
                  </div>
                </div>
                <canvas id="newClient"></canvas>
                <div class="line-chart-row-title">MY NEW CLIENTS</div>
              </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-danger font-weight-bold">839</h2>
                    <i class="mdi mdi-refresh mdi-18px text-dark"></i>
                  </div>
                </div>
                <canvas id="allProducts"></canvas>
                <div class="line-chart-row-title">All Products</div>
              </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-info font-weight-bold">244</h2>
                    <i class="mdi mdi-file-document-outline mdi-18px text-dark"></i>
                  </div>
                </div>
                <canvas id="invoices"></canvas>
                <div class="line-chart-row-title">NEW INVOICES</div>
              </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-warning font-weight-bold">3259</h2>
                    <i class="mdi mdi-folder-outline mdi-18px text-dark"></i>
                  </div>
                </div>
                <canvas id="projects"></canvas>
                <div class="line-chart-row-title">All PROJECTS</div>
              </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-secondary font-weight-bold">586</h2>
                    <i class="mdi mdi-cart-outline mdi-18px text-dark"></i>
                  </div>
                </div>
                <canvas id="orderRecieved"></canvas>
                <div class="line-chart-row-title">Orders Received</div>
              </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="text-dark font-weight-bold">7826</h2>
                    <i class="mdi mdi-cash text-dark mdi-18px"></i>
                  </div>
                </div>
                <canvas id="transactions"></canvas>
                <div class="line-chart-row-title">TRANSACTIONS</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Support Tracker</h4>
                    <h4 class="text-success font-weight-bold">Tickets<span class="text-dark ml-3">163</span></h4>
                  </div>
                  <div id="support-tracker-legend" class="support-tracker-legend"></div>
                  <canvas id="supportTracker"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-lg-flex align-items-center justify-content-between mb-4">
                    <h4 class="card-title">Product Orders</h4>
                    <p class="text-dark">+5.2% vs last 7 days</p>
                  </div>
                  <div class="product-order-wrap padding-reduced">
                    <div id="productorder-gage" class="gauge productorder-gage"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        ----->







        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="footer-wrap">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright Dimoso Hospital.com 2021</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Admin dashboard Page</a> from juniordimoso8@gmail.com</span>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="{% static 'admini/vendors/base/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'admini/js/template.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <script src="{% static 'admini/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admini/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'admini/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'admini/vendors/justgage/raphael-2.1.4.min.js' %}"></script>
    <script src="{% static 'admini/vendors/justgage/justgage.js' %}"></script>
    <!-- Custom js for this page-->
    <script src="{% static 'admini/js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>