{% extends 'hospital/base.html' %}
{% load static %}
{% block title %}All Patients {% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
  background: linear-gradient(90deg, #ff00bf9b 0%, #c6ff6932 43%, #0099ff9d 100%);
}
  </style>
</head>
<body>
  

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <center>

        <div class="section-title">
          <h2>Hospital Services</h2>
          </div>

        <div class="row">

          <div class="col-md-3">
        <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="{% url 'watoto_list' %}">ALL CHILDRENS</a></h4>
          
          </div>
            
          </div>
          <div class="col-md-3">
                 <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="{% url 'kawaida_list' %}">ALL NORMAL PATIENTS</a></h4>
          
          </div>
            
          </div>
          <div class="col-md-3">
             <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="{% url 'wajawazito_list' %}">ALL PREGNANCY</a></h4>
          
          </div>
            
          </div>
          <div class="col-md-3">
               <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="{% url 'wazee_list' %}">ALL ELDERS</a></h4>
          
          </div>
            
          </div>

        </div><!--mwisho wa row kubwa--->













</center>
      </div>
    </section><!-- End Services Section -->


    



</body>
</html>
{% endblock %}